.scroll-bar-content {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

.scroll-progress-container {
  width: 100%;
  background-color: #ffffff;
  height: 10px;
}

.current-scroll-progress-bar {
  width: 0%;
  background: #000;
  height: 10px;
}
